@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.mainImage {
	height: 600px;
	background-image: url("./bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.itemList {
	display: flex;
	justify-content: space-between;
}


